@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
    font-family: "Inter";
    --main-color: #ff8500;
    --writings-color: #282828;
    --white: #fff;
}
.focal-hero {
    min-height: 100vh;
}
.hero-text .title {
    color: var(--main-color);  
}
.hero-text p{
    width: 88%;
    color: var(--writings-color);
    line-height: 35px;
}
.gameBoy-img {
    width: 300px;
    z-index: 1;
}
.pressStart {
    right: 145px;
    bottom: 128px;
    z-index: 2;
}
.start {
    letter-spacing: 4px;
    color: var(--main-color);
    right: 361px;
    bottom: 200px;
    font-size: 28px;
    z-index: 3;
}
.hero-footer {
    padding: 0 30px;
    z-index: 4;
}
.copyright {
    font-size: 18px;
}
.hero-footer-sm-img ,
.hero-footer-lg-img{
    bottom: 0;
    z-index: -2;
}
.hero-footer-sm-img {
    display: none;
}
@media screen and (max-width:992px){
    .focal-hero {
        padding-top: 80px;
    }
    .hero-text p{
        width: 100%;
    }
    .gameBoy-img {
        width: 250px;
    }
    .pressStart {
        right: 124px;
        bottom: 105px;
        width: 240px;
    }
    .start {
        right: 302px;
        bottom: 165px;
    }
    .hero-footer {
        bottom: -70px;
    }
    .hero-footer .social-links img{
        width: 25px !important;
    }
    .hero-footer p{
        margin: 5px 0;
        font-size: 15px;
    }
    .hero-footer-sm-img ,
    .hero-footer-lg-img{
        bottom: -70px;
    }
}
@media screen and (max-width:786px){
    .hero-footer-lg-img {
        display: none;
    }
    .hero-footer-sm-img {
        display: flex;
    }
}
@media screen and (max-width:576px){
    .hero-text .title {
        font-size: 20px; 
    }
    .hero-text p{
        font-size: 15px;
    }
    .gameBoy-img {
        width: 180px;
    }
    .pressStart {
        right: 98px;
        bottom: 75px;
        width: 160px;
    }
    .start {
        right: 218px;
        bottom: 115px;
        font-size: 15px;
    }
}